#results {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#results td, #results th {
    font-size: 12px;
    padding: 3px;
    border: 1px solid #5E3DB7;
    background-color: #DDDBF5;
}